.Routers li {
    float: left;
    margin: 5px;
    text-align: center;
    padding: 10px 15px;
}

.Routers ul {
    list-style-type: none;
    margin: 10px;
    overflow: hidden;
    background-color: #333;
}

.Routers li a{
    color: white;
}